.textBanamex :nth-child(7),
.textBanamex :nth-child(8),
.textBanamex :nth-child(9)  {
    font-size: 2.5rem;
}

.textBanamex :nth-child(7) :first-child,
.textBanamex :nth-child(8) :first-child,
.textBanamex :nth-child(9) :first-child {
    top: 7px;
}

@media screen and (max-width: 768px) {
    .textBanamex :nth-child(7),
    .textBanamex :nth-child(8),
    .textBanamex :nth-child(9) {
        font-size: 1.5rem;
    }
    .textBanamex :nth-child(7) :first-child,
    .textBanamex :nth-child(8) :first-child,
    .textBanamex :nth-child(9) :first-child {
        top: 0px;
    }
}

@media screen and (max-width: 425px) {
    .textBanamex :nth-child(7),
    .textBanamex :nth-child(8),
    .textBanamex :nth-child(9) {
        font-size: 1rem;
    }
    .textBanamex :nth-child(7) :first-child,
    .textBanamex :nth-child(8) :first-child,
    .textBanamex :nth-child(9) :first-child {
        top: 0px;
    }
}