---
import i18next, { changeLanguage, t } from "i18next";
import { RegisterForm } from "../components/register/RegisterForm.jsx";
import LayoutRegister from "../layouts/LayoutRegister.astro";
import MarqueeSponsors from "../components/register/MarqueeSponsors.astro";
import { sponsors } from "../data/logos_partners.js"; //EDITAR LOS SPONSORS!!!

changeLanguage("es");

const registerTranslations = t("register", { returnObjects: true });
const currentLanguage = i18next.language;
---

<LayoutRegister title='ITM | Registro 2024'>
  <video
    src="/video/bg_registro2.mp4"
    autoplay
    loop
    muted
    playsinline
    class="w-full h-full object-fill fixed top-0 z-[-1]" >
  </video>
  <main class='py-5 grid w-full content-center container mx-auto px-4'>
    <section class='mb-10  mx-auto'>
      <p class='text-center font-extrabold text-3xl mb-5'>
        {t('register.title-sponsors')}
      </p>
      <MarqueeSponsors partners={sponsors} isLeftToRight/>
    </section>
    <section>
      <h1 class='text-center font-extrabold text-4xl'>
        {t('register.title')}
      </h1>
      <p class='text-center text  -2xl font-bold'>
        {t('register.description')}
      </p>
      <RegisterForm 
          translates={registerTranslations} 
          currentLanguage={currentLanguage}
          client:only="'react" />
    </section>
  </main>
</LayoutRegister>
<style>
  body {
    
    color: white;
  }

  section {
    background-color: rgba(66, 66, 66, 0.5);
    border-radius: 5px;
    width: 100%;
    padding: 2rem;
  }
</style>