---
import { t } from 'i18next'
---

<section>
  <div
    class='bg-[url(/img/bg_amof_2.webp)] bg-top bg-no-repeat bg-cover bg-fixed relative text-white text-center py-32'
  >
    <p class='text-5xl uppercase'>[ {t('home.convert_exhibitor')} ]</p>
    <p class='my-10 text-2xl'>
      {t('home.description_exhibitor')}
    </p>
    <a
      href='https://expositor.amofexpo.igeco.mx/'
      target='_blank'
      class='mt-10 text-2xl text-white bg-[#067BFC] rounded-xl py-3 px-6 hover:bg-[#0a06fc] transition duration-300 flex justify-center items-center gap-2 mx-auto w-fit'
    >
      {t('home.more_info')}
      <svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke-width='1.5'
        stroke='currentColor'
        class='size-6'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25'></path>
      </svg>
    </a>
  </div>
  <div
    class='container mx-auto px-4 grid grid-cols-2 md:flex flex-wrap justify-center items-center gap-10 py-20 text-center md:text-left'
  >
    <div class='grid md:flex gap-3 items-center justify-center'>
      <div class='bg-[#0578F9] rounded-full p-4 w-16 h-16 mx-auto text-white'>
        <svg
          viewBox='0 0 100 100'
          xmlns='http://www.w3.org/2000/svg'
          xmlns:xlink='http://www.w3.org/1999/xlink'
          aria-hidden='true'
          role='img'
          preserveAspectRatio='xMidYMid meet'
          ><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
            id='SVGRepo_tracerCarrier'
            stroke-linecap='round'
            stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'
            ><path
              d='M12.55 0C5.662 0 0 5.661 0 12.55c0 6.017 4.317 11.096 10 12.286v50.428c-5.683 1.19-10 6.27-10 12.287C0 94.44 5.661 100.1 12.55 100.1c6.047 0 11.09-4.374 12.241-10.1h50.455c1.152 5.732 6.253 10.1 12.305 10.1c6.65 0 12.105-5.288 12.478-11.852a3.5 3.5 0 0 0 .07-.697a3.5 3.5 0 0 0-.07-.697C99.703 81.117 95.495 76.356 90 75.246V24.854c5.495-1.11 9.703-5.87 10.03-11.606a3.5 3.5 0 0 0 .07-.697a3.5 3.5 0 0 0-.07-.697C99.655 5.29 94.201 0 87.55 0c-6.016 0-11.096 4.317-12.286 10H24.77C23.58 4.324 18.56 0 12.55 0zm0 7c3.107 0 5.55 2.444 5.55 5.55c0 3.107-2.443 5.55-5.55 5.55C9.445 18.1 7 15.657 7 12.55C7 9.445 9.444 7 12.55 7zm75 0c3.107 0 5.55 2.444 5.55 5.55c0 3.107-2.443 5.55-5.55 5.55c-3.106 0-5.55-2.443-5.55-5.55C82 9.445 84.444 7 87.55 7zM24.218 17h51.62A12.678 12.678 0 0 0 83 24.225v51.65A12.684 12.684 0 0 0 75.875 83h-51.7A12.64 12.64 0 0 0 17 75.838V24.262A12.638 12.638 0 0 0 24.217 17zM12.55 82c3.106 0 5.549 2.444 5.549 5.55c0 3.107-2.443 5.55-5.55 5.55C9.445 93.1 7 90.657 7 87.55C7 84.445 9.444 82 12.55 82zm75 0c3.106 0 5.549 2.444 5.549 5.55c0 3.107-2.443 5.55-5.55 5.55c-3.106 0-5.55-2.443-5.55-5.55c0-3.106 2.444-5.55 5.55-5.55z'
              fill='white'></path></g
          >
        </svg>
      </div>
      <p>
        <strong>12,000 {t('home.m2')}</strong>
        <br />{t('home.results_text_1')}
      </p>
    </div>
    <div class='grid md:flex gap-3 items-center justify-center'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke-width='1.5'
        stroke='currentColor'
        class='bg-[#0578F9] rounded-full p-4 text-white w-16 h-16 mx-auto'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z'
        ></path>
      </svg>
      <p>
        <strong>275 {t('home.results_text_9')}</strong>
        <br />{t('home.results_text_2')}
      </p>
    </div>
    <div class='grid md:flex gap-3 items-center justify-center'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke-width='1.5'
        stroke='currentColor'
        class='bg-[#0578F9] rounded-full p-4 text-white w-16 h-16 mx-auto'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='m6.115 5.19.319 1.913A6 6 0 0 0 8.11 10.36L9.75 12l-.387.775c-.217.433-.132.956.21 1.298l1.348 1.348c.21.21.329.497.329.795v1.089c0 .426.24.815.622 1.006l.153.076c.433.217.956.132 1.298-.21l.723-.723a8.7 8.7 0 0 0 2.288-4.042 1.087 1.087 0 0 0-.358-1.099l-1.33-1.108c-.251-.21-.582-.299-.905-.245l-1.17.195a1.125 1.125 0 0 1-.98-.314l-.295-.295a1.125 1.125 0 0 1 0-1.591l.13-.132a1.125 1.125 0 0 1 1.3-.21l.603.302a.809.809 0 0 0 1.086-1.086L14.25 7.5l1.256-.837a4.5 4.5 0 0 0 1.528-1.732l.146-.292M6.115 5.19A9 9 0 1 0 17.18 4.64M6.115 5.19A8.965 8.965 0 0 1 12 3c1.929 0 3.716.607 5.18 1.64'
        ></path>
      </svg>
      <p>
        <strong>+30 {t('home.results_text_8')}</strong>
        <br />{t('home.results_text_3')}
      </p>
    </div>
    <div class='grid md:flex gap-3 items-center justify-center'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke-width='1.5'
        stroke='currentColor'
        class='bg-[#0578F9] rounded-full p-4 text-white w-16 h-16 mx-auto'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='M12 18.75a6 6 0 0 0 6-6v-1.5m-6 7.5a6 6 0 0 1-6-6v-1.5m6 7.5v3.75m-3.75 0h7.5M12 15.75a3 3 0 0 1-3-3V4.5a3 3 0 1 1 6 0v8.25a3 3 0 0 1-3 3Z'
        ></path>
      </svg>
      <p>
        <strong>50 {t('home.results_text_7')}</strong>
        <br /><span set:html={t('home.results_text_4')} />
      </p>
    </div>
    <div class='grid md:flex gap-3 items-center justify-center'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke-width='1.5'
        stroke='currentColor'
        class='bg-[#0578F9] rounded-full p-4 text-white w-16 h-16 mx-auto'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z'></path>
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z'
        ></path>
      </svg>
      <p>
        <strong>10,000 {t('home.results_text_6')}</strong>
        <br />{t('home.results_text_5')}
      </p>
    </div>
  </div>
  <p class='text-center'>
    *Cifras en conjunto con:
    <a href='https://industrialtransformation.mx/' target='_blank'>
      <img src='/img/Logo_ITM.webp' alt='ITM' class='w-32 inline-block' />
    </a>
  </p>
</section>
