---
import { TextReveal } from '../magicui/text-reveal'
import { t } from 'i18next'
---

<section class='lg:h-screen relative'>
  <img
    src='/img/bg_amof_nuevo_2025.webp'
    class='w-full h-full object-cover mt-[1px]'
  />
</section>
<div
  class='bg-[url(/img/bg_amof_gradient.webp)] bg-top bg-no-repeat relative'
  style='background-size: 100% 100%;'
>
  <TextReveal
    client:only
    text={`${t('home.titleCounter')}, 2025 CENTRO BANAMEX, CDMX`}
    text_1={t('home.more_info_2')}
    text_2={t('home.more_info_3')}
  />
</div>
