---
import { t } from 'i18next'
---

<section
  class='bg-[url(/img/bg_amof_programa.webp)] bg-cover bg-no-repeat py-10 text-white text-center'
>
  <p class='text-3xl'>{t('home.program_1')}</p>
  <div
    class='mt-5 grid grid-cols-3 pb-2 border-b-2 container mx-auto opacity-30'
  >
    <div class='border-r-2'>
      {t('home.program_2')}
      <strong>{t('home.program_5')}</strong>
    </div>
    <div class='border-r-2'>
      {t('home.program_3')}
      <strong>{t('home.program_6')}</strong>
    </div>
    <div>{t('home.program_4')} <strong>{t('home.program_7')}</strong></div>
  </div>
  <p class='mt-5 text-3xl md:text-6xl'>
    {t('home.program_8')}
    <strong>{t('home.program_9')}</strong>
  </p>
</section>
