<section
  class='bg-[url(/img/bg_amof_programa.webp)] bg-cover bg-no-repeat py-10 text-white text-center'
>
  <p class='text-3xl'>PROGRAMA DE CONFERENCIAS 2025</p>
  <div
    class='mt-5 grid grid-cols-3 pb-2 border-b-2 container mx-auto opacity-30'
  >
    <div class='border-r-2'>MARTES <strong>11 DE NOVIEMBRE</strong></div>
    <div class='border-r-2'>MIÉRCOLES <strong>12 DE NOVIEMBRE</strong></div>
    <div>JUEVES <strong>12 DE NOVIEMBRE</strong></div>
  </div>
  <p class='mt-5 text-3xl md:text-6xl'>
    PRÓXIMAMENTE <strong>MÁS INFORMACIÓN</strong>
  </p>
</section>
