---
import Menu from '@/components/shared/Menu.astro'
import '../styles/global.css'
import Footer from '@/components/shared/Footer.astro'
import DraggableWidget from '@/components/shared/DraggableWidget.astro'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/png' href='/img/amof_favicon.png' />
    <meta name='generator' content={Astro.generator} />
    <title>AMOF</title>
  </head>
  <body class='overflow-x-hidden'>
    <DraggableWidget />
    <Menu />
    <slot />
    <Footer />
  </body>
</html>
